
/**
    ---------- My Styles ----------
*/

@use '../partial/variable' as v;
@use '../partial/mixins' as m;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-image: url(/css/img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: v.$font;
    color: v.$colorText;
    font-size: 62.5%;
}

h2 {
    @include m.font-size(v.$title-size);
}

h3  {
    @include m.font-size(v.$subtitle-size)
}

p {
    @include m.font-size(v.$text-size);
}

a {
    display: inline-block;
    text-decoration: none;
    color: v.$colorText;
}

i {
    @include m.font-size(2.8rem);
}

