@use "../partial/variable" as v;

// ---------- mixins ----------

@function get-opacity($color, $opacity) {
    @return rgba($color, $opacity);
}

// calcula la relación de los subtitulos
@mixin substitle($size) {
	font-size: $size - 3;
	// font-size: calculateRem($size);
	// line-height: calculateRem($size)*1.5;
}

// calcula el tamaño de fuentes usando rem
@function calculateRem($size) {
	$remSize: calc($size / 16px);
	@return calc($remSize) * 1rem;
}

// adapta el tamaño de las fuentes
@mixin font-size($size) {
	font-size: $size;
	// font-size: calculateRem($size);
	line-height: $size * 1.5;
}

// boton base
@mixin buttom($fontSize) {
	padding: 10px 15px;
	font-size: $fontSize;
	font-weight: 700;
	color: v.$colorTitle;

	&:hover {
		background-color: v.$colorTitle;
		color: v.$color-primary;
	}
}


