@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500&display=swap');

// ---------- variables ----------
$font:'Roboto', sans-serif;
$colorTitle: #00B2FF;
$colorText: #FFFFFF;

$color-primary:#2D2E32;
$color-secundary: #1D1E23;

$title-size: 5rem;
$subtitle-size: 2.4rem;
$text-size: 1.6rem;