@use '../partial/variable' as v;
@use '../partial/mixins' as m;

.footer {

    margin: 0 2rem;
    text-align: center;

    p {
        font-size: 1.4rem;
    }

    span {
        text-decoration: underline;
        
        a {
            color: v.$colorTitle;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        border-bottom: 3px solid v.$colorTitle;
        margin-bottom: 3rem;
    }

    &__copyright {
        color: v.$colorText;

        a {
            width: 2.4rem;
        }

        p {
            margin: 1.5rem 0;
        }

        .linkedin,
        .twitter {
            margin-right: 3rem;
        }
    }
}

.contact {
    &__logo {

        .logo {
            &__img {
                height: 6rem;
                margin-bottom: 2rem;

                img {
                    height: 100%;
                }
            }
        }
    }
}

.together {

    &__build {
        margin-bottom: 1rem;
    }

    &__web {
        margin-bottom: 3rem;
        color: v.$colorTitle;
    }
}
