@use '../partial/variable' as v;
@use '../partial/mixins' as m;
@use '../partial/breakpoint' as br;

.footer {

    margin: 0 2rem;
    text-align: center;

    p {
        font-size: 1.4rem;
    }

    span {
        text-decoration: underline;
        
        a {
            color: v.$colorTitle;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        border-bottom: 3px solid v.$colorTitle;
        margin-bottom: 3rem;

        // ---------- RESPONSIVE DESING: TABLET ----------
        @include br.media(tablet) {
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 3rem;
            margin: 0 auto;
            max-width: 80rem;
            margin-bottom: 3rem;
            flex-wrap: wrap;
            gap: 2rem;
        }

        // ---------- RESPONSIVE DESING: DESKTOP ----------
        @include br.media(desktop-m) {
            margin: 0;
            margin-bottom: 3rem;
            max-width: 100%;
        }
    }

    &__copyright {
        color: v.$colorText;

        a {
            width: 2.4rem;
        }

        p {
            margin: 1.5rem 0;
        }

        .linkedin,
        .twitter {
            margin-right: 3rem;
        }

        @include br.media(tablet) {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            margin: 0 auto;
            max-width: 80rem;
        }
        
        // ---------- RESPONSIVE DESING: DESKTOP ----------
        @include br.media(desktop-m) {
            max-width: 100%;
        }
    }

    // ---------- RESPONSIVE DESING: TABLET ----------
    @include br.media(tablet) {
        margin-top: 12rem;
    }

    // ---------- RESPONSIVE DESING: DESKTOP ----------
    @include br.media(desktop-m) {
        margin: 0 auto;
        margin-top: 12rem;
        width: 90%;
        max-width: 125.8rem;
    }
}

.contact {
    &__logo {
        .logo {
            &__img {
                height: 6rem;
                margin-bottom: 2rem;

                .img__logo {
                    height: 100%;
                    margin-right: 1rem;
                }
                // ---------- RESPONSIVE DESING: TABLET ----------
                @include br.media(tablet) {
                    height: 3rem;
                    margin: 0;
                }
            }

        }
        .img__name {
            display: none;
            // ---------- RESPONSIVE DESING: TABLET ----------
            @include br.media(tablet) {
                display: inline-block;
            }
        }
        
        // ---------- RESPONSIVE DESING: TABLET ----------
        @include br.media(tablet) {
            display: flex;
            align-items: center;
        }
    }
}

.together {

    &__build {
        margin-bottom: 1rem;

        // ---------- RESPONSIVE DESING: TABLET ----------
        @include br.media(tablet) {
            margin: 0;
        }
    }

    &__web {
        margin-bottom: 3rem;
        color: v.$colorTitle;

        // ---------- RESPONSIVE DESING: TABLET ----------
        @include br.media(tablet) {
            margin: 0;
        }
    }
}
