@use '../partial/variable' as v;
@use '../partial/mixins' as m;
@use '../partial/breakpoint' as br;

.header {
    min-width: 37.5rem;
    width: 100%;
    padding: 0 2rem;
    min-height: 5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    background-color: m.get-opacity(v.$color-secundary, .54);

    &__logo {
        figure {
            height: 3rem;
        }

        .img__name {
            display: none;
        }

    }

    &__menu {
        width: 3rem;
        height: 3rem;
    }
}

#menu__burguer {
    display: none;

    &:checked ~ .menu__content {
        width: 100vw;
        height: 100%;
        padding: 25rem 0;
        position: fixed;
        transition:all 1s;
    }
}

.burguer__container {
    width: 3rem;
    height: 3rem;
    position: absolute;
    z-index: 1;
    
    i {
        font-size: 2.3rem;
        padding: .4rem .5rem .4rem .5rem ;
        color: v.$colorText;
        
        &:hover {
            background-color: v.$colorTitle;
        }
    }

    @include br.media(tablet) {
        background-color: brown;
    }
}

.menu {

    &__content {
        background-color: coral;
        top: 0;
        left: 0;
        margin-top: -19rem;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: v.$color-primary;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }
}
.list {

    &__items {
        height: 6rem;
        width: 100%;
        list-style: none;

        a {
            font-size: 2rem;
            padding-top: 2.3rem;
            font-weight: 700;
            text-align: center;
            height: 100%;
            width: 100%;

            &:hover {
                background-color: v.$colorTitle;
            }
        }
    }
}


