@use '../partial/variable' as v;
@use '../partial/mixins' as m;
@use '../partial/breakpoint' as br;

.header {

    @include br.media(desktop-m) {
        margin: 0 auto;
        margin-top: 2rem;
        max-width: 125.8rem;
        width: 90%;
    }
        
    &__container {

        align-items: center;
        background-color: v.$color-secundary;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 6rem;
        padding: 0 2rem;
        position: fixed;
        width: 100%;

        // ---------- RESPONSIVE DESING: TABLET ----------
        @include br.media(tablet) {
            height: 6rem;
        }

        // ---------- RESPONSIVE DESING: desktop ----------
        @include br.media(desktop-m) {
            max-width: 125.8rem;
            margin: 0 auto;
            padding: 0 3rem;
            width: 90%;
        }
    }

    &__logo {
        figure {
            height: 3rem;

            // ---------- RESPONSIVE DESING: desktop ----------
            @include br.media(desktop-m) {
                height: 3.5rem;
            }

            img {
                height: 100%;
            }
            
            a {
                height: 100%;
            }
        }

        .img__name {
            display: none;

            // ---------- RESPONSIVE DESING: TABLET ----------
            @include br.media(tablet) {
                display: inline-block;
                margin-left: 2rem;
            }
        }
    }

    &__menu {
        height: 3rem;
        width: 3rem;

         // ---------- RESPONSIVE DESING: TABLET ----------
         @include br.media(tablet) {
            width: auto;
        }
    }
    
}

#menu__burguer {
    display: none;

    &:checked ~ .menu__content {
        height: 100%;
        padding-bottom: 102rem;
        padding-top: 25rem;

        position: fixed;
        transition:all 1s;
        width: 100vw;

         // ---------- RESPONSIVE DESING: TABLET ----------
        @include br.media(tablet) {
            height: auto;
            padding: 0;
            position: static;
            transition: none;
            width: auto;
        }
    }
}

.burguer__container {
    height: 3rem;
    position: absolute;
    width: 3rem;
    z-index: 1;
    
    
    i {
        color: v.$colorText;
        font-size: 2.3rem;
        padding: .4rem .5rem .4rem .5rem ;
        transition: all 0.5s;

        &:hover {
            background-color: v.$colorTitle;

        }
    }

     // ---------- RESPONSIVE DESING: TABLET ----------
     @include br.media(tablet) {
        display: none;
        height: auto;
        position: static;
        width: auto;
    }
}

.menu {

    &__content {
        background-color: v.$color-primary;
        height: 100%;
        left: 0;
        margin-top: -19rem;
        position: absolute;
        top: 0;
        width: 100%;

         // ---------- RESPONSIVE DESING: TABLET ----------
        @include br.media(tablet) {
            background-color: transparent;
            height: 100%;
            margin: auto;
            position: static;
            width: auto;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;

        // ---------- RESPONSIVE DESING: TABLET ----------
        @include br.media(tablet) {
            flex-direction: row;
            height: 100%;
        }
    }
}
.list {

    &__items {
        height: 6rem;
        list-style: none;
        width: 100%;


        a {
            font-size: 2rem;
            font-weight: 700;
            height: 100%;
            padding-top: 2.3rem;
            text-align: center;
            width: 100%;

            &:hover {
                background-color: v.$colorTitle;
                transition: all 1s;

                 // ---------- RESPONSIVE DESING: TABLET ----------
                @include br.media(tablet) {
                    background-color: transparent;
                    color: v.$colorTitle;
                    text-decoration: underline;
                    transition: all 1s;
                }
            }

            // ---------- RESPONSIVE DESING: TABLET ----------
            @include br.media(tablet) {
                font-size: 1.4rem;
                height: 100%;
                padding: 8px;
                transition: all 0.5s;
            }

            // ---------- RESPONSIVE DESING: desktop ----------
            @include br.media(desktop-m) {
                font-size: 1.8rem;
            }
        }

        // ---------- RESPONSIVE DESING: TABLET ----------
        @include br.media(tablet) {
           height: 100%;
            transition: all 1s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}


