@use '../partial/mixins' as m;
@use '../partial/variable' as v;
@use '../partial/breakpoint' as br;

.main {
    margin: 0 auto;
    margin-bottom: 6rem;
    max-width: 44.3rem;
    min-width: 33.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 11rem;

    .h2 {
        text-align: center;
        @include m.substitle(5rem);
    }

    .h3 {
        color: v.$colorTitle;
    }

    &__presentation {
        margin: 0 auto;
        margin-bottom: 6rem;  
        font-weight: bold;
        text-align: center;

        // ---------- RESPONSIVE DESING: TABLET ----------
        @include br.media(tablet) {
            margin: 0;
            padding-top: 86px;
            width: 55%;
        }
        
        // ---------- RESPONSIVE DESING: DESKTOP ----------
        @include br.media(desktop-m) {
            padding-bottom: 16rem;
            padding-top: 13rem;
            width: 100%;
        }
    }

    .myphoto {
        margin-bottom: 6rem;
        width: 100%;
        
        &__container {
            margin: 0 2rem;

            // ---------- RESPONSIVE DESING: TABLET ----------
            @include br.media(tablet) {
                height: 35rem;
                margin: 0 auto;
                width: 30rem;
            }
            // ---------- RESPONSIVE DESING: DESKTOP ----------
            @include br.media(desktop-m) {
                height: 100%;
                width: 100%;
            }
        }
    
        img {
            height: 100%;
            width: 100%;
        }

        // .main
        // ---------- RESPONSIVE DESING: TABLET ----------
        @include br.media(tablet) {
            margin: 0;
            width: 42%;
        }
        // ---------- RESPONSIVE DESING: DESKTOP ----------
        @include br.media(desktop-m) {
            max-width: 40rem;
            width: 33.3%;
        }
    }

    &__about {
        min-height: 35rem;

        // ---------- RESPONSIVE DESING: tablet ----------
        @include br.media(tablet) {
            width: 100%;
        }

        // ---------- RESPONSIVE DESING: DESKTOP ----------
        @include br.media(desktop-m) {
            margin: 0 auto;
            max-width: 74.5rem;
            width: 65%;
        }
    }

    &__portafolio {

        @include br.media(tablet) {
            width: 100%;
        }
    }

    // ---------- RESPONSIVE DESING: TABLET ----------
    @include br.media(tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 80rem;
        padding-top: 12.4rem;
    }

    // ---------- RESPONSIVE DESING: desktop ----------
    @include br.media(desktop-m) {
        max-width: 125.8rem;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        width: 90%;
    }
}

// ---------- Presentation ----------
.presentation {

    .h3 {
        color: v.$colorText;

        // ---------- RESPONSIVE DESING: desktop ----------
        @include br.media(desktop-m) {
            @include m.font-size(3.6rem);
        }
    }

    .h2 {
        font-size: 5rem;
        font-weight: 700;
        line-height: 6.5rem;

        // ---------- RESPONSIVE DESING: TABLET ----------
        @include br.media(tablet) {
            @include m.font-size(5.3rem);
            line-height: 6.5rem;
        }

        // ---------- RESPONSIVE DESING: desktop ----------
        @include br.media(desktop-m) {
            @include m.font-size(7rem);
        }
    }


    &__web {
        color: v.$colorTitle;
        margin-bottom: 3rem;

        // ---------- RESPONSIVE DESING: desktop ----------
        @include br.media(desktop-m) {
            @include m.font-size(3.6rem);
        }
    }

    &__social {
        align-items: center;
        display: flex;
        height: 3rem;
        justify-content: center;
        
        a {
            display: block;
            width: 2.4rem;
        }

        &--element {
            margin-right: 3rem;
        }
    }
}

// ---------- End Presentation ----------

// ---------- About ----------

.about {
    &__tittle {
        line-height: 5.4rem;
        margin-bottom: 3rem;

        // ---------- RESPONSIVE DESING: TABLET ----------
        @include br.media(tablet) {
            margin-top: 6rem;
            width: 100%;
        }
    }

    .h2 {
        // ---------- RESPONSIVE DESING: TABLET ----------
        @include br.media(tablet) {
            @include m.substitle(5.3rem);
        }
        
        // ---------- RESPONSIVE DESING: desktop ----------
        @include br.media(desktop-m) {
            @include m.substitle(7rem);
        }
    }
    
    &__profile {
        margin-bottom: 3rem;

        // ---------- RESPONSIVE DESING: TABLET ----------
        @include br.media(tablet) {
            width: 50%;
        }

        // ---------- RESPONSIVE DESING: DESKTOP ----------
        @include br.media(desktop-m) {
            max-width: 35.8rem;
        }
    }
    
    .profile {
        &__subtitle {
            color: v.$colorTitle;
            margin-bottom: 2rem;
            // ---------- RESPONSIVE DESING: TABLET ----------
            @include br.media(tablet) {
                @include m.font-size(3.2rem);
            }
        }

        &__text {
            // ---------- RESPONSIVE DESING: TABLET ----------
            @include br.media(tablet) {
                font-size: 1.8rem;   
            }
        }
    }

    &__buttoms {

        text-align: center;
        
        .buttom {
            @include m.buttom(1.4rem);

            &__write {
                margin-right: 2rem;
            }
            
            span {
                display: inline-block;
                margin-right: .5rem;
            }

            i {
                font-size: 1.6rem;
            }
        }

        // ---------- RESPONSIVE DESING: TABLET ----------
        @include br.media(tablet) {
            margin-top: -12rem;
            width: 50%;
        }
    }

    &__skills {
        margin-bottom: 3rem;

        // ---------- RESPONSIVE DESING: TABLET ----------
        @include br.media(tablet) {
            width: 48%;
        }

        // ---------- RESPONSIVE DESING: DESKTOP ----------
        @include br.media(desktop-m) {
            max-width: 35.8rem;
        }
    }
    // ---------- RESPONSIVE DESING: TABLET ----------
    @include br.media(tablet) {
        display: flex;
        flex-wrap: wrap;
        gap: 0 1.4rem;
    }
}

// ---------- end about ----------

// ---------- Skills ----------
.skills {

    &__title {
        margin-bottom: 2rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        list-style: none;
    }

    &__items {
        align-items: center;
        display: flex;
        width: 45%;

        img {
            height: 3.5rem;
            margin-right: 1.2rem;

            // ---------- RESPONSIVE DESING: TABLET ----------
            @include br.media(tablet) {
                height: 4rem;
            }
        }
    }
}

// ========== End skills ==========


// ========== Portafolio ==========

.portafolio {

    .h2 {
        margin-bottom: 3rem;
        padding-top: 6rem;
        
        // ---------- RESPONSIVE DESING: desktop ----------
        @include br.media(desktop-m) {
            margin-bottom: 7rem;
            padding-top: 12rem;
            @include m.substitle(7rem);
        }
    }

    &__project {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: space-between;
        min-height: 43.8rem;
        min-width: 33.5rem;

        // ---------- RESPONSIVE DESING: TABLET ----------
        @include br.media(tablet) {
            gap: 2rem;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

}

.project {
    background-color: v.$color-secundary;
    border-radius: 2rem;

    &__img {
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
        height: 18.2rem;
        width: 100%;

        img {
            border-top-left-radius: 2rem;
            border-top-right-radius: 2rem;
            height: 100%;
            width: 100%;

            // ---------- RESPONSIVE DESING: DESKTOP ----------
            @include br.media(desktop-m) {
                border-bottom-left-radius: 2rem;
                border-top-right-radius: 0;
            }
        }

        // ---------- RESPONSIVE DESING: TABLET ----------
        @include br.media(tablet) {
            height: 20.2rem;
        }

        // ---------- RESPONSIVE DESING: DESKTOP ----------
        @include br.media(desktop-m) {
            height: 100%;
            width: 33rem;
        }
    }

    &__information {
        margin: 0 2rem;
        margin-top: 2rem;

        // ---------- RESPONSIVE DESING: DESKTOP ----------
        @include br.media(desktop-m) {
            margin: 2rem auto;
            width: 29rem;
        }
    }

    // ---------- RESPONSIVE DESING: TABLET ----------
    @include br.media(tablet) {
        height: 45.8rem;
        width: 35.4rem;
    }

    // ---------- RESPONSIVE DESING: DESKTOP ----------
    @include br.media(desktop-m) {
        display: flex;
        height: 19.8rem;
        max-width: 61.9rem;
        width: 49%;
    }
}

.information {

    &__text {
        color: v.$colorTitle;
        line-height: 2.76rem;
        margin-bottom: 2rem;

        // ---------- RESPONSIVE DESING: DESKTOP ----------
        @include br.media(desktop-m) {
            text-align: center;
        }

        @include br.media(desktop-m) {
            margin-bottom: 1.5rem;
        }
    }

    &__tech {
        display: flex;
        flex-wrap: wrap;
        gap: 1.3rem 2.9rem;
        margin-bottom: 3rem;

        li {
            align-items: center;
            display: flex;
            list-style: none;
            width: 45%;
        }

        // ---------- RESPONSIVE DESING: DESKTOP ----------
        @include br.media(desktop-m) {
            gap: 0;
        }

        @include br.media(desktop-m) {
            justify-content: right;
            margin-bottom: 1.5rem;
        }
    }

    &__buttoms {
        margin-bottom: 3rem;
        text-align: center;

        .buttom {
            
            &__write {
                margin-right: 3rem;
            }
            @include m.buttom(1.4rem);
        }

        // ---------- RESPONSIVE DESING: DESKTOP ----------
        @include br.media(desktop-m) {
            margin: 0;
        }
    }
}

.tech__item {

    img {
        margin-right: 1.2rem;
    }

    &--html, &--css {
        height: 4rem;
        width: 4rem;

        // ---------- RESPONSIVE DESING: DESKTOP ----------
        @include br.media(desktop-m) {
            height: 3rem;
            width: 3rem;
        }
    }

    &--php {
        width: 5.3rem;

        // ---------- RESPONSIVE DESING: DESKTOP ----------
        @include br.media(desktop-m) {
            width: 3.5rem;
        }
    }

    &--mysql {
        height: 3.5rem;
        width: 5.1rem;

        @include br.media(desktop-m) {
            height: 30px;
            width: 4rem;
        }
    }   
}